.App {
  padding: 40px 580px;
}

.legend {
  font-weight: bold;
}

.inputLabel img {
  vertical-align: middle;
  width: 35px;
}

.inputLabel * {
  margin-right: 7px;
}

.heightConv, .distanceConv {
  margin-bottom: 30px;
  border-color:darkcyan;
  border-style: solid;
}